@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Design system styles */

:root {
  --dark-blue: #262e38;
  --very-dark-blue: #131518;
  --light-gray: #969fad;
  --medium-gray: #7c8798;
  --orange: #fc7614;
  --black-gradient: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  --size-14: 3.73333333333333vw;
  --size-15: 4vw;
  --size-16: 4.26666666666667vw;
  --size-22-5: 6vw;
  --size-24: 6.4vw;
  --size-32: 8.53333333333333vw;
  --size-34: 9vw;
  --size-40: 10.6666666666667vw;
  --size-42: 11.2vw;
  --size-144: 38.4vw;
  --size-360: 96vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  padding-bottom: 88px;
  background-color: var(--very-dark-blue);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

main {
  background-color: var(--very-dark-blue);
  font-family: 'Overpass', 'sans-serif';
  font-weight: 400;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
  width: 100vw;
}

.rating-container {
  background: var(--black-gradient);
  border-radius: clamp(15px, var(--size-15), 30px);
  display: flex;
  flex-direction: column;
  width: clamp(256px, 87.2vw, 412px);
  height: clamp(360px, var(--size-360), 416px);
  padding: 0 clamp(24px, var(--size-24), 32px);
}

.rating-container.start {
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: clamp(24px, var(--size-24), 32px);
}

.rating-container.end {
  justify-content: center;
  align-items: center;
  padding-top: clamp(34px, var(--size-34), 45px);
  text-align: center;
}

.img-container {
  width: clamp(40px, var(--size-40), 48px);
  height: clamp(40px, var(--size-40), 48px);
  border-radius: 50%;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

img.start {
  width: clamp(14px, var(--size-14), 16px);
}

img.end {
  width: clamp(144px, var(--size-144), 162px);
}

.selected-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: clamp(24px, var(--size-24), 32px);
  height: 32px;
  width: clamp(168px, 44.8vw, 193px);
  color: var(--orange);
  background-color: var(--dark-blue);
  border-radius: 22.5px;
  font-size: clamp(14px, var(--size-14), 15px);
}

h1.start {
  margin-top: clamp(16px, var(--size-16), 30px);
  font-size: clamp(24px, var(--size-24), 28px);
  font-weight: 700;
  color: #fff;
}

h1.end {
  margin-top: clamp(24px, var(--size-24), 32px);
  font-size: clamp(24px, var(--size-24), 28px);
  font-weight: 700;
  color: #fff;
}

.how-did-we-do,
.we-appreciate {
  margin-top: 7px;
  font-size: clamp(14px, var(--size-14), 15px);
  line-height: clamp(22.5px, var(--size-22-5), 24px);
  color: var(--light-gray);
}

.ratings-list {
  list-style-type: none;
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(40px, var(--size-42), 51px);
  height: clamp(40px, var(--size-42), 51px);
  border-radius: 50%;
  font-size: clamp(14px, var(--size-14), 16px);
  font-weight: 700;
  color: var(--medium-gray);
  background-color: var(--dark-blue);
  cursor: pointer;
}

.rating.active {
  color: #fff;
  background-color: var(--light-gray);
}

.rating:hover {
  color: #fff;
  background-color: var(--orange);
}

.btn {
  font-family: inherit;
  color: #fff;
  background-color: var(--orange);
  text-transform: uppercase;
  font-size: clamp(14px, var(--size-14), 15px);
  font-weight: 700;
  width: 100%;
  margin-top: clamp(24px, var(--size-24), 32px);
  height: 45px;
  border: none;
  border-radius: var(--size-22-5);
  cursor: pointer;
  letter-spacing: var(--size-2);
}

.btn:hover {
  outline: none;
  color: var(--orange);
  background-color: #fff;
}

.attribution {
  font-family: 'Montserrat', 'sans-serif';
  position: absolute;
  padding: 10px;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: var(--medium-gray);
}

.attribution a,
.attribution a:visited {
  text-decoration: underline;
  color: var(--medium-gray);
}

.attribution a:hover {
  font-weight: 500;
}
